/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide default cursor */  
html, body {
  cursor: none; 
  scroll-behavior: smooth;
  background-color: #141B25;

}

/* Apply font to headers */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }

/* style the dot cursor */
.cursor-dot {
  position: fixed;
  width: 8px;
  height: 8px;
  background-color: rgb(255, 166, 0);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
}

.circle {
  /* Your existing styles */
  box-shadow: 0 0 30px rgba(232, 179, 5, 0.995); /* Adjust the values as needed */
}


/*Blob Animation */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    to {
        transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
}

@keyframes orbit-reverse {
    from {
        transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    to {
        transform: rotate(-360deg) translate(150px) rotate(360deg);
    }
}

.animate-spin {
    animation: spin 20s infinite linear;
}

.animate-orbit {
    animation: orbit 10s infinite linear;
}

.animate-orbit-reverse {
    animation: orbit-reverse 10s infinite linear;
}

/* Positioning of the Blob component */
.blobCont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

    @media (max-width: 768px) {
        height: 50%;
        top: 15rem;
    }
}



/* Styling for Hamburger style */

.open{
	position: fixed;
	top: 40px;
	right: 40px;
	width: 50px;
	height: 50px;
	display: block;
	cursor: pointer;
	transition: opacity 0.2s linear;
    opacity: 0.8;
	&:hover{
		opacity: 1;
	}
	span{
		display: block;
		float: left;
		clear: both;
		height: 4px;
		width: 40px;
		border-radius: 40px;
		background-color: #fff;
		position: absolute;
		right: 3px;
		top: 3px;
		overflow: hidden;
		transition: all 0.4s ease;
		&:nth-child(1){
			margin-top: 10px;
			z-index: 9;
		}
		&:nth-child(2){
			margin-top: 25px;
		}
		&:nth-child(3){
			margin-top: 40px;
		}
	}
}
.sub-menu{
	transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
		
		
		background-color: rgba(39, 119, 205, 0.745);
		/* border-radius: 50%;
		z-index: 20;
		overflow: hidden; */
		li{
			
			margin-right: -160px;
			transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
			&:first-child{
				margin-top: 180px;
			}
			&:nth-child(1){
				-webkit-transition-delay: 0.05s;
			}
			&:nth-child(2){
				-webkit-transition-delay: 0.10s;
			}
			&:nth-child(3){
				-webkit-transition-delay: 0.15s;
			}
			&:nth-child(4){
				-webkit-transition-delay: 0.20s;
			}
			&:nth-child(5){
				-webkit-transition-delay: 0.25s;
			}
			a{
				color: #fff;
				font-family: 'Lato', Arial, Helvetica, sans-serif;
				
			}

            &:hover {
                color: #ffffff;
                transform: scale(120%);
            }
		}
	}

	.oppenned{
		.sub-menu{
			opacity: 1;
			height: 450px;
			width: 450px;
		}
		span:nth-child(2){
			overflow: visible;
		}
		span:nth-child(1), span:nth-child(3){
			z-index: 100;
			transform: rotate(45deg);
		}
		span:nth-child(1){
			transform: rotate(45deg) translateY(12px) translateX(12px);
		}
		span:nth-child(2){
			height: 450px;
			width: 450px;
			right: -170px;
			top: -160px;
			border-radius: 50%;
			background-color: rgba(215, 123, 18, 0.832);
		}
		span:nth-child(3){			
			transform: rotate(-45deg) translateY(-10px) translateX(10px);
		}
		li{
			margin-right: 168px;
		}
	}

@media screen and (max-width: 700px) {
    .sub-menu {
        position: absolute;
        top: -250px;
    }
    .sub-menu li {
        
        bottom: 100px;
    }
    .sub-menu li a {
        line-height: 50px;
        
    }
    .open {
        z-index: 50;
        top: auto;
        bottom: 30px;
        right: 30px;
    }
    .oppenned {
        z-index: 150;
        span {      
        
        }
        li{

        }
    .oppenned li {
        top: 10px;
        right: 100px;
    }
   

    span:nth-child(2){
        height: 450px;
        width: 450px;
        right: -170px;
        top: -160px;
        border-radius: 50%;
        background-color: rgba(215, 123, 18, 0.832);
    }
    }   
}




@keyframes slideIn {
	0% {
	  opacity: 0;
	  filter: blur(5px);
	  transform: translateX(500px);
	  transition: all 2s;
	}
	100% {
	  opacity: 1;
	  filter: blur(0);
	  transform: translateX(0);
	}
  }
  
  .slide-in {
	animation: slideIn .5s ease-in;
  }

  .slide-in:nth-child(1) {
	animation-delay: 0.2s; 
  }

  .slide-in:nth-child(2) {
	animation-delay: 0.4s; 
  }

  .slide-in:nth-child(3) {
	animation-delay: 0.6s;
  }






  .hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

